<ion-content class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar color="warning">
      <ion-title>Amarillo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="contenido-amarillo">
    <h2 class="titulo">¡Brilla con energía! ☀️</h2>

    <img
      src="assets/img/amarillo.png"
      alt="Imagen amarilla"
      class="img-amarillo"
    />

    <ion-button
      routerLink="/verde"
      expand="block"
      color="success"
      class="btn-verde"
    >
      Ir a Verde
    </ion-button>
  </div>
</ion-content>
