<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Semaforo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Botón de navegación -->
  
<ion-content>
  <ion-button
    routerLink="/rojo"
    expand="block"
    color="medium"
    class="btn-contacto"
  >


<ion-content>
  <div class="centrar-boton">
    <ion-button class="btn-contacto" expand="block" color="medium">
      Ir a Contacto
    </ion-button>
  </div>
</ion-content>

    Ir a rojo
  </ion-button>
</ion-content>
