<ion-content class="ion-padding">

  <ion-header collapse="condense">
    <ion-toolbar color="success">
      <ion-title>Verde</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="contenido-verde">
    <h2 class="titulo">Sigue, sigue 🌿</h2>

    <img
      src="https://static.vecteezy.com/system/resources/previews/005/862/384/non_2x/green-traffic-light-mascot-free-vector.jpg"
      alt="Imagen verde"
      class="img-verde"
    />

    <ion-button
      routerLink="/amarillo"
      expand="block"
      color="warning"
      class="btn-amarillo"
    >
      Ir a Amarillo
    </ion-button>
  </div>

</ion-content>
